.draggable {
  position: fixed;
  left:0%;
  top:0%;
  padding: 0.5em;
  height:10px;
  margin:5px;
}
.widnow{
  background-color: lightgrey;
  border: 3px solid black;
  font-family: sans-serif;
  width:100%;
}
.title_bar{
  height: 15px;
  width: 100%;
  padding-top:2px;
  padding-bottom: 5px;
  text-align:left;
  background-color: #002D62;
  border-bottom: solid black 3px
}
.button{
  width: 15px;
  height: 15px;
  float:right;
  cursor:pointer;
  text-align:center;
  font-size: 15px;
  display:inline;
  color:lightgrey;
}
.box{
  background-color: rgb(255,255,255,0.7);
  font-family: sans-serif;
}
.bar-title{
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: lightgrey;
}
